@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
main section .seccion1 .titulos_acerca, main .seccion1 .titulos_acerca, main .seccion1 h2, main .seccion6 .titulos_acerca, main .seccion5 h2, main .seccion1 {
  display: flex;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  color: aliceblue;
  justify-content: center;
}

main .seccion2 h2, main .seccion3 h3, main .seccion2 h3 {
  display: flex;
  background-color: rgb(107, 106, 106);
  border-radius: 5px;
  width: 500px;
  justify-content: center;
  margin-top: 30px;
  margin-left: 27%;
  margin-bottom: 30px;
}

main section .seccion4 h2, main .seccion2 h2 {
  display: flex;
  background-color: rgb(107, 106, 106);
  border-radius: 5px;
  width: 500px;
  justify-content: center;
  margin-left: 28%;
}

* {
  margin: 0;
  padding: 0;
}

header .logos_titulos {
  display: grid;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "logo_tomoe titulo1 logo_oaal" "logo_tomoe titulo2 logo_oaal";
}
header .logos_titulos .caja_logo_tomoe {
  grid-area: logo_tomoe;
}
header .logos_titulos .caja_logo_tomoe img {
  width: 75%;
  margin: auto;
  padding-top: 25px;
  padding-left: 60px;
}
header .logos_titulos .caja_logo_oaal {
  grid-area: logo_oaal;
}
header .logos_titulos .caja_logo_oaal img {
  width: 75%;
  margin: auto;
  padding-top: 25px;
  padding-left: 60px;
}
header .titulo1 {
  padding-top: 20px;
  grid-area: titulo1;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: center;
}
header .titulo2 {
  grid-area: titulo2;
  margin-left: -40px;
  width: 110%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
header .navbar {
  background-color: dimgray;
  position: sticky;
  top: 5px;
}
header .navbar .nav-item {
  list-style: none;
  display: flex;
  padding: 20px 15px;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 10px;
}
header .navbar ul a {
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
  color: black;
}
header .navbar ul a:hover {
  background-color: #c0b6b1;
  border-radius: 5px 0 10px 0;
}

main section .carousel-inner {
  background-color: rgb(35, 132, 223);
}
main section .carousel-inner img {
  margin-left: 250px;
  width: 612px;
  height: 400px;
}
main section .carousel-control-prev:focus {
  opacity: 0.4;
  background-color: rgb(66, 66, 66);
}
main section .carousel-control-prev:focus:hover {
  background-color: rgb(182, 12, 12);
}
main section .carousel-control-next:focus {
  opacity: 0.4;
  background-color: rgb(66, 66, 66);
}
main section .carousel-control-next:focus:hover {
  background-color: rgb(182, 12, 12);
}
main .fotos {
  display: flex;
}
main .fotos .img_osensei1 img {
  padding-top: 50px;
  padding-left: 25px;
  width: 400px;
  height: 367px;
}
main .fotos .img_iwama1 img {
  padding-top: 50px;
  padding-left: 50px;
  width: 460px;
  height: 367px;
}
main .fotos .img_dojo_aikido img {
  padding-top: 50px;
  padding-left: 50px;
  width: 460px;
  height: 367px;
}

main .caja_principal {
  display: flex;
  justify-content: space-between;
}
main .caja_principal .kanji_aikido {
  width: 50px;
  margin-left: 470px;
}
main .caja_principal .titulo_aikido {
  margin-top: 40px;
  margin-right: 470px;
}
main .seccion3 .contenedor_kanjis {
  display: flex;
  justify-content: center;
}
main .seccion3 .contenedor_kanjis .pictograma_letra {
  margin-top: 40px;
}
main .seccion5 .os6 {
  display: flex;
  width: 740px;
  margin-left: 16%;
}
main .seccion5 .fotos_osensei {
  display: flex;
  margin-left: -60px;
}
main .seccion5 .fotos_osensei .img_sensei img {
  padding-top: 20px;
  padding-left: 25px;
  width: 300px;
  height: 367px;
}
main h3 {
  display: flex;
  background-color: rgb(107, 106, 106);
  border-radius: 5px;
  width: 500px;
  justify-content: center;
  margin-left: 32%;
}
main .seccion7 img {
  padding-top: none;
  padding-left: none;
  width: 200px;
  height: 250px;
}
main .seccion8 img {
  padding-top: none;
  padding-left: none;
  width: 200px;
  height: 250px;
}
main .seccion9 img {
  padding-top: none;
  padding-left: none;
  width: 200px;
  height: 250px;
}

main section .seccion5 iframe {
  margin-left: 23%;
}

main .seccion2 .nishida p {
  margin-top: 30px;
}
main .seccion2 .nishida a .imgvideo {
  margin-top: -340px;
  width: 15%;
}
main .seccion2 .nishida .video_nishida {
  margin-left: 150px;
}
main .seccion2 .danes p {
  margin-top: 30px;
}
main .seccion2 .danes a .imgvideo {
  margin-top: -340px;
  width: 15%;
}
main .seccion2 .danes .video_danes {
  margin-left: 150px;
}
main .seccion2 .nuestro_dojo p {
  margin-top: 30px;
}
main .seccion2 .nuestro_dojo a .imgvideo {
  margin-top: -500px;
  width: 15%;
}
main .seccion2 .nuestro_dojo .video_dojo {
  margin-left: 150px;
  width: 500px;
}

main .seccion1 .titulos_podcast {
  display: flex;
  background-color: black;
  border: 1px solid black;
  color: aliceblue;
  justify-content: center;
  border-radius: 5px;
}
main .seccion2 .pod1 h3 {
  display: flex;
  background-color: rgb(107, 106, 106);
  border-radius: 5px;
  width: 700px;
  justify-content: left;
  margin-left: -12px;
}
main .seccion2 .detalle_pod {
  margin-top: -30px;
}
main .seccion2 .pod2 h3 {
  display: flex;
  background-color: rgb(107, 106, 106);
  border-radius: 5px;
  width: 900px;
  justify-content: left;
  margin-left: -12px;
}
main .seccion2 .detalle_pod2 {
  margin-top: 0px;
}
main .seccion2 .pod3 h3 {
  display: flex;
  background-color: rgb(107, 106, 106);
  border-radius: 5px;
  width: 1000px;
  justify-content: left;
  margin-left: -12px;
}
main .seccion2 .detalle_pod3 {
  margin-top: 0px;
}
main .seccion2 .pod4 h3 {
  display: flex;
  background-color: rgb(107, 106, 106);
  border-radius: 5px;
  width: 1000px;
  justify-content: left;
  margin-left: -12px;
}
main .seccion2 .detalle_pod4 {
  margin-top: 0px;
}

main .seccion2 .fotos_productos img {
  width: 25%;
}

footer .formulario {
  background-color: #a5a5a5;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 50px auto;
  grid-column: 1/6;
  grid-row: 1/2;
}
footer .formulario .suscribite_form p {
  margin-left: 90px;
}
footer .formulario .suscribite_form input[type=email] {
  border-radius: 15px 0 0 15px;
  width: 40%;
  padding-left: 20px;
  margin-left: 150px;
}
footer .formulario .suscribite_form input[type=email]::placeholder {
  padding-left: 5px;
  color: rgb(10, 49, 133);
}
footer .formulario .suscribite_form button[type=submit] {
  background-color: #333e48;
  border-radius: 0 15px 15px 0;
  color: white;
  width: 10%;
  position: relative;
  right: 4px;
}
footer .grid-container {
  display: grid;
  /*background-color: #1e836a;*/
  background: radial-gradient(ellipse 300px 300px, rgb(255, 255, 255), rgb(105, 21, 21), rgb(136, 107, 107));
  padding: 20px;
  margin: 10px auto;
  border-radius: 5px;
  width: 80vw;
  height: 11.5vw;
  grid-template-rows: repeat(4, 58px);
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
  justify-content: center;
}
footer .grid-container .seguinos {
  margin-top: 15px;
  margin-left: 45px;
}
footer .grid-container .contacto {
  margin-top: 15px;
  margin-left: 60px;
}
footer .grid-container .email {
  margin-top: 15px;
  margin-left: 45px;
}
footer .grid-container .ubicacion {
  margin-top: 15px;
  margin-left: 110px;
}
footer .grid-container .iconos {
  width: 14%;
  margin-top: 3.5px;
  margin-left: 27px;
}
footer .grid-container .mapa {
  width: 14%;
  margin-top: 3.5px;
  margin-left: 150px;
}
footer .copyright {
  margin: 50px auto;
}
footer .flechaup {
  width: 2%;
}

@media screen and (max-width: 768px) {
  /*HEADER*/
  header .logos_titulos {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "logo_tomoe titulo1 logo_oaal" "titulo2 titulo2 titulo2";
  }
  header .logos_titulos .caja_logo_tomoe img {
    display: flex;
    width: 100px;
    padding-bottom: 34px;
    margin-left: -30px;
  }
  header .logos_titulos .titulo1 {
    margin: auto;
    font-size: 200%;
  }
  header .logos_titulos .titulo2 {
    margin-top: 20px;
    margin-left: -20px;
    font-size: 110%;
  }
  header .logos_titulos .caja_logo_oaal img {
    width: 100px;
    padding-bottom: 34px;
    margin-left: -50px;
  }
  main .section1 .carousel-inner {
    display: none;
  }
  main .fotos {
    display: block;
  }
  main .fotos .img_osensei1 img {
    width: 90%;
    height: 90%;
  }
  main .fotos .img_iwama1 img {
    width: 90%;
    height: 90%;
  }
  main .fotos .img_dojo_aikido img {
    width: 90%;
    height: 90%;
  }
  /*FOOTER*/
  footer .formulario {
    background-color: #a5a5a5;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 50px auto;
    grid-column: 1/6;
    grid-row: 1/2;
  }
  footer .formulario .suscribite_form p {
    margin-left: 10px;
  }
  footer .formulario .suscribite_form input[type=email] {
    border-radius: 15px 0 0 15px;
    width: 70%;
    height: 20px;
    margin-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
  }
  footer .formulario .suscribite_form button[type=submit] {
    background-color: #333e48;
    border-radius: 0 15px 15px 0;
    color: white;
    width: 25%;
    right: 6px;
    font-size: 12px;
  }
  footer .formulario .suscribite_form input[type=email]::placeholder {
    font-size: 11px;
    padding-left: 5px;
    color: rgb(10, 49, 133);
  }
  footer .grid-container {
    display: grid;
    background-color: #bfbcc0;
    padding: 20px;
    margin: 10px auto;
    border-radius: 5px;
    width: 80vw;
    height: 90vw;
    grid-template-rows: repeat(6, 58px);
    grid-template-columns: 1fr;
    border: 1px solid black;
    justify-content: center;
    grid-template-areas: "seguinos" "iconos" "contacto" "email" "ubicacion" "mapas";
  }
  footer .grid-container .grid-item1 {
    grid-area: seguinos;
  }
  footer .grid-container .grid-item1 .seguinos {
    margin-top: 10px;
    font-size: 15px;
    margin-left: 10px;
  }
  footer .grid-container .grid-item4 {
    grid-area: iconos;
  }
  footer .grid-container .grid-item4 .iconos {
    width: 12%;
    margin-top: 3.5px;
    margin-left: 25px;
  }
  footer .grid-container .grid-item5 {
    grid-area: contacto;
  }
  footer .grid-container .grid-item5 .email {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
  }
  footer .grid-container .grid-item2 .contacto {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
  }
  footer .grid-container .grid-item6 .mapa {
    width: 14%;
    margin-left: 44%;
    margin-top: -30px;
  }
  footer .grid-container .grid-item3 .ubicacion {
    margin-top: 10px;
    margin-left: 80px;
    font-size: 15px;
  }
  footer .grid-container .copy .copyright {
    margin-left: 58px;
  }
  footer .grid-container div .flechaup {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  main .caja_principal .kanji_aikido {
    width: 20px;
    margin-left: 50px;
    border: 1px solid black;
  }
  main .caja_principal .titulo_aikido {
    margin-top: 20px;
    margin-right: 50px;
  }
  main .seccion3 .contenedor_kanjis {
    display: block;
    justify-content: left;
  }
  main .seccion3 .contenedor_kanjis .pictogramas {
    width: 100px;
    border: 1px solid black;
  }
  main .seccion5 .os6 .img_sensei6 {
    width: 40%;
    margin-left: -40px;
    border: 1px solid black;
  }
  main .seccion5 .fotos_osensei {
    display: block;
  }
  main .seccion5 .fotos_osensei .img_sensei img {
    padding-top: 20px;
    padding-left: 25px;
    width: 350px;
    height: 367px;
    margin-left: 50px;
  }
  main .seccion6 img {
    width: auto;
  }
  main h3 {
    display: flex;
    background-color: rgb(107, 106, 106);
    border-radius: 5px;
    width: 300px;
    margin: auto;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  main section .seccion2 h2 {
    display: flex;
    background-color: rgb(107, 106, 106);
    border-radius: 5px;
    width: auto;
    justify-content: center;
    margin-left: auto;
  }
  main section .seccion4 h2 {
    display: flex;
    background-color: rgb(107, 106, 106);
    border-radius: 5px;
    width: auto;
    justify-content: center;
    margin-left: auto;
  }
  main section .seccion5 iframe {
    margin: auto;
    width: 350px;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  main .seccion2 h3 {
    display: flex;
    background-color: rgb(107, 106, 106);
    border-radius: 5px;
    width: auto;
    margin: auto;
    justify-content: center;
  }
  main .seccion3 h3 {
    display: flex;
    background-color: rgb(107, 106, 106);
    border-radius: 5px;
    width: auto;
    margin: auto;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  main section .titulos_acerca {
    margin: auto;
    font-size: 25px;
  }
  main .seccion2 h2 {
    display: flex;
    background-color: rgb(107, 106, 106);
    border-radius: 5px;
    width: 500px;
    justify-content: center;
    margin: auto;
  }
  main .seccion2 .nishida a .imgvideo {
    display: none;
  }
  main .seccion2 .nishida .video_nishida {
    display: flex;
    width: 350px;
    height: 350px;
    margin: auto;
  }
  main .seccion2 .danes a .imgvideo {
    display: none;
  }
  main .seccion2 .danes .video_danes {
    display: flex;
    width: 350px;
    height: 350px;
    margin: auto;
  }
  main .seccion2 .nuestro_dojo a .imgvideo {
    display: none;
  }
  main .seccion2 .nuestro_dojo .video_dojo {
    display: flex;
    width: 350px;
    height: 350px;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  main .seccion2 .pod1 {
    display: flex;
    background-color: rgb(107, 106, 106);
    border-radius: 5px;
    width: 362px;
    margin-top: -20px;
  }
  main .seccion2 .pod1 h3 {
    width: auto;
    font-size: 19px;
    justify-content: center;
  }
  main .seccion2 .detalle_pod p {
    margin-top: 50px;
  }
  main .seccion2 .pod2 {
    display: flex;
    background-color: rgb(107, 106, 106);
    border-radius: 5px;
    width: 362px;
    margin-top: 20px;
  }
  main .seccion2 .pod2 h3 {
    width: auto;
    font-size: 19px;
    justify-content: center;
  }
  main .seccion2 .detalle_pod2 p {
    margin-top: 20px;
  }
  main .seccion2 .pod3 {
    display: flex;
    background-color: rgb(107, 106, 106);
    border-radius: 5px;
    width: 362px;
    margin-top: 20px;
  }
  main .seccion2 .pod3 h3 {
    width: auto;
    font-size: 19px;
    justify-content: center;
  }
  main .seccion2 .detalle_pod3 p {
    margin-top: 20px;
  }
  main .seccion2 .pod4 {
    display: flex;
    background-color: rgb(107, 106, 106);
    border-radius: 5px;
    width: 362px;
    margin-top: 20px;
  }
  main .seccion2 .pod4 h3 {
    width: auto;
    font-size: 19px;
    justify-content: center;
  }
  main .seccion2 .detalle_pod4 p {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  main .seccion2 .fotos_productos img {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  main .seccion2 iframe {
    margin: auto;
    width: 350px;
    height: 200px;
  }
}

/*# sourceMappingURL=styles.css.map */
