main {
    .seccion1 {
        .titulos_acerca {
            display: flex;
            background-color: black;
            border: 1px solid black;
            color: aliceblue;
            justify-content: center;
            border-radius: 5px;
        }
    }
    
}