main {
    .caja_principal {
        display: flex;
        justify-content: space-between;
            .kanji_aikido {
                width: 50px;
                margin-left: 470px;
            }
            .titulo_aikido {
                margin-top: 40px;
                margin-right: 470px;
            }
        }
        .seccion1 {
            @extend %titulos_principales;
            
        }
        .seccion3 {
            .contenedor_kanjis {
                display: flex;
                justify-content: center;
                    .pictograma_letra {
                        margin-top: 40px; 
                    }
            }
        }
        .seccion5 {
            h2 {
                @extend %titulos_principales;
            }
            .os6 {
                display: flex;
                width: 740px;
                margin-left: 16%;
            }
            .fotos_osensei {
                display: flex;
                margin-left: -60px;
                    .img_sensei {
                        img {

                            @include tamaño_imagen (20px, 25px, 300px, 367px);
                        
                        }
                    }
            }
        }
        .seccion6 {
            .titulos_acerca {
                @extend %titulos_principales;
            }
        }
        h3 {
            display: flex;
            background-color: rgb(107, 106, 106);
            border-radius: 5px;
            width: 500px;
            justify-content: center; 
            margin-left: 32%;
        }
        .seccion7 {
            img {
                @include tamaño_imagen (none, none, 200px, 250px);
                
            }
        }
        .seccion8 {
            img {
                @include tamaño_imagen (none, none, 200px, 250px);
            }
        }
        .seccion9 {
            img {
                @include tamaño_imagen (none, none, 200px, 250px);
            }
        }
    }



        

   





