main {
    section { 
        .seccion1 {
            .titulos_acerca {
                @extend %titulos_principales; 
                }
            }   
        }
        .seccion2 {
            h2 {
                @extend %titulos_principales_2;
                }
            .nishida {
                p {
                    margin-top: 30px;
                }
                a {
                    .imgvideo {
                        margin-top: -340px;
                        width: 15%;
                        }
                    }
                .video_nishida {
                    margin-left: 150px;
                }
            }
            .danes {
                p {
                    margin-top: 30px;
                }
                a {
                .imgvideo {
                    margin-top: -340px;
                    width: 15%;
                }
                }
            .video_danes {
                margin-left: 150px;
            }
            }
            .nuestro_dojo {
                p {
                    margin-top: 30px;
                }
                a {
                    .imgvideo {
                        margin-top: -500px;
                        width: 15%;
                    }
                }
                .video_dojo {
                    margin-left: 150px;
                    width: 500px;
                }
            }


        }
}