main {
    section {
        .carousel-inner {
            background-color:rgb(35, 132, 223);
            
            
                img {
                    margin-left: 250px;
                    width: 612px;
                    height: 400px;
                }
        }
        .carousel-control-prev:focus {
            opacity: .4;
            
            background-color: rgb(66, 66, 66);
            &:hover {
                background-color: rgb(182, 12, 12);
            }
        }

        .carousel-control-next:focus {
            opacity: .4;
            background-color: rgb(66, 66, 66);
                &:hover {
                    background-color: rgb(182, 12, 12);
                }
        }
    }
    .fotos {
        display: flex;
            .img_osensei1 {
                img {
                    @include tamaño_imagen (50px, 25px, 400px, 367px);

                    
                    }
                }
            .img_iwama1 {
                img {
                    @include tamaño_imagen (50px, 50px, 460px, 367px);
                    
                    }
                }
            .img_dojo_aikido {
                img {
                    @include tamaño_imagen (50px, 50px, 460px, 367px);
                    
                }
            }
        }
    }
