@media screen and (max-width: 768px) {


    main {
        section {
            .titulos_acerca {
                margin:auto;
                font-size: 25px;
            }
        }
        .seccion2 {
            h2 {
                display: flex;
                background-color: rgb(107, 106, 106);
                border-radius: 5px;
                width: 500px;
                justify-content: center;
                margin:auto;
            }
            .nishida {
                a {
                .imgvideo {
                    
                    display:none; 
                   }
                }
                .video_nishida {
                    display:flex;
                    width:350px;
                    height:350px;
                    margin:auto;
                }   
            }
            .danes {
                a {
                    .imgvideo {
                        display:none;
                    }
                }
                .video_danes {
                    display:flex;
                    width:350px;
                    height:350px;
                    margin:auto;
                }
            }
            .nuestro_dojo {
                a {
                    .imgvideo {
                        display:none;
                }
                }
                .video_dojo {
                    display:flex;
                    width:350px;
                    height:350px;
                    margin:auto;
                
                }
            }
        }
    }
    
}