@media screen and (max-width: 768px) {
    header {
        .titulo2 {
            grid-area: titulo2;
            padding-left: 50px;
            width: 100%;
            font-family: $familia_fuente_titulos;
            text-align: center;
        }
    }
    main {
        .seccion2 {
            h3 {
                display: flex;
                background-color: rgb(107, 106, 106);
                border-radius: 5px;
                width: auto;
                margin:auto;
                justify-content: center;
            }
        }
        .seccion3 {
            h3 {
                display: flex;
                background-color: rgb(107, 106, 106);
                border-radius: 5px;
                width: auto;
                margin:auto;
                justify-content: center;
            }
        }
    }



}
