@media screen and (max-width: 768px) {
    header {
        .titulo1 {
            display:flex;
            font-size: 200%;
            padding-left: -100px;
            margin-left: -190px;
            
        }
        .titulo2 {
            
            display: flex;
            margin-left: 35px;
            font-size: 110%;
            margin-top: -20px;
                  
        }
    }
    main{
    .seccion2 {
        .fotos_productos {
            img {
                width: 80%;
            }       
        }
    }
    }
}